@charset "utf-8";
/* CSS Document */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
body {
  font-family: roboto, sans-serif;
  background-color: #ece5da;
  height: 100vh;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "permanent marker", sans-serif;
  color: green;
}

.img {
  width: 250px;
  background: transparent;
}

.lg-img {
  max-width: 100%;

  height: auto;
}

.img-col {
  width: 1366px;
  margin: 20px;
}
#bottle {
  width: 370px;
}
/* header */
#header {
  display: flex;
  align-items: center;
  background-color: #ece5da;
  width: 600px;
  margin: 5px;
}
/* for the button */
/* .show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: block;
}

.show-menu-btn {
  margin: 0px;
  float: right;
}
.show-menu-btn i {
  line-height: 100px;
}
.navigation a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #00ff0a;
}

#toggle-btn {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.hide-menu-btn {
  position: absolute;
  top: 15px;
  right: 20px;
} */
/*-- Responsive CSS --*/
/* @media screen and (max-width:767px) {
  .show-menu-btn,
  .hide-menu-btn {
      display: block;
  } */

#header p {
  color: green;
}

#container2 p {
  display: flex;
  margin-bottom: 20px;
  font-family: sans-serif;
  text-align: center;
  width: 30%;
  margin: auto;
}

#bottle {
  width: 600px;
  height: 400px;
}
.container h1 {
  text-align: left;
  margin: 20px;
  padding: 20px;
}
.container p {
  margin-bottom: 20px;
  font-family: sans-serif;
  text-align: left;
  width: 90%;
  margin: auto;
}

.container {
  display: flex;
}

.container > div {
  text-align: center;
  flex-basis: 75%;
  color: green;
}

/* 3-box columns */
.flex-container {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.CL {
  background-color: #e7d1cb;
  width: 300px;
  height: 100%;
  padding: 30;
  border: solid 8px transparent;
  border-radius: 10px;
  box-sizing: border-box;
  align-items: center;
}
.CL p {
  height: 35px;
  padding: 2px;
  color: green;
}
.CL H2 {
  height: 80px;
  color: green;
}

.CL1 {
  background-color: #e7d1cb;
  margin: auto;
  width: 400px;
  border: solid 20px transparent;
  border-radius: 10px;
  box-sizing: border-box;
  color: green;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 2em;
  padding: 20px;
}
.bottom :first-child {
  align-self: center;
}

/* need to add the number/symbols to break the intro */

#footer #nav {
  background-color: #efefef;
  padding: 0.5em 0;
  margin: 1%;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 2em;
  padding: 20px;
}
.row :first-child {
  align-self: center;
}
/* I need to align text into separate columns so q A are side by side with text */

.header {
  padding: 50px;
  text-align: center;
  background-color: #e7d1cb;
  color: green;
  font-size: 30px;
}

.QA {
  background-color: #e7d1cb;
  display: flex;
  width: 300px;
  height: 100%;
  padding: 30;
  border: solid 8px transparent;
  border-radius: 10px;
  box-sizing: border-box;
  align-items: center;
}
.QA p {
  height: 70px;
  padding: 2px;
  color: green;
}
.QA H2 {
  height: 80px;
  color: green;
}

.QA1 {
  background-color: #e7d1cb;
  margin: auto;
  width: 800px;
  border: solid 20px transparent;
  border-radius: 10px;
  box-sizing: border-box;
  color: green;
}

.leave {
  background-color: #e7d1cb;
  display: flex;
  width: 900px;
  border: solid 30px transparent;
  border-radius: 10px;
  align-items: center;
  margin: auto;
}
.text-column {
  display: inline-block;
  margin-bottom: 20px;
  font-family: sans-serif;
  text-align: center;
  width: 50%;
  margin: auto;
}

/* use reverse flexbox to take advantage of flex-direction: reverse */
.star-rating {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 15px auto;
  padding: 5px;
  position: relative;
}
/* hide the inputs */
.star-rating input {
  display: none;
}
/* set properties of all labels */
.star-rating > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: black;
}
/* give label a hover state */
.star-rating label:hover {
  color: #ff69b4;
  transition: 0.2s ease;
}
.star-rating label:active::before {
  transform: scale(1.1);
}

/* set shape of unselected label */
.star-rating label::before {
  content: "\2606";
  position: absolute;
  top: 0px;
  line-height: 26px;
}
/* set full star shape for checked label and those that come after it */
.star-rating input:checked ~ label:before {
  content: "\2605";
}

@-moz-document url-prefix() {
  .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
  }
}

.flavors {
  display: inline;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
  font-family: sans-serif;
  justify-content: center;
}
#reviews {
  background-color: #e7d1cb;
  border: solid 10px transparent;
  border-radius: 50px;
  box-sizing: content-box;
  position: relative;
  margin: auto;
  float: auto;
  width: 60%;
  height: 20;
}

.review {
  display: flex;

  height: 10%;
  flex-direction: row;
  justify-content: center;
  text-align: left 10px;
  margin-right: 5px;
  padding: 5px;
  color: green;
}

.checked {
  color: grey;
}
#product {
  cursor: pointer;
  border: 1px solid black;
  background-color: transparent;
  height: 30px;
  width: 175px;
  color: green;
  font-size: 1em;
  border-radius: 10px;
  text-align: center;
}

#quantity {
  border: 1px solid black;
  border-radius: 8px;
  width: 200px;
  height: 25px;
  background-color: transparent;
}
#price {
  border: 1px solid black;
  border-radius: 8px;
  width: 120px;
  height: 25px;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  border: 1px solid green;
  background-color: transparent;
  height: 35px;
  width: 175px;
  color: green;
  font-size: 1em;
  border-radius: 25px;
  text-align: center;
  margin: 10px;
}
/* Responsive CSS */

#nav {
  background-color: #deb986;

  overflow: hidden;
  margin-top: auto;
  height: 35px;
}
#nav a {
  color: green;
  border: 1px solid white;
  padding: 5px 40px;
  text-decoration: none;
  float: right;

  font-size: 22px;
}

#nav a:hover {
  background-color: #e7d1cb;
  color: white;
}
#nav a:active {
  background-color: #04aa6d;
  color: white;
}

/* about page */
#photo1,
#photo2,
#photo3 {
  height: 0em;
  width: 18%;
  justify-content: space-around;
  margin: 7.6%;
  padding: 0.5em;
}
.group1 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.group {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.person1,
.person2,
.person3 {
  background-color: #e7d1cb;
  border: solid 10px transparent;
  border-radius: 20px;
  box-sizing: border-box;
  border-color: none;
  height: 10em;
  width: 25%;
  margin: 5%;
  padding: 2em;
}

.person1,
.person2,
.person3 {
  color: green;
  max-width: 100%;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #ece5da;
  height: 0;
  width: 100%;
  color: green;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
hr.footer {
  border: solid 10px burlywood;
}

.p-footer {
  background-color: #e7d1cb;
  border: solid 1px transparent;
  border-radius: 10px;
  box-sizing: content-box;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  padding: 10px 40px;
}

/* Style all font awesome icons */
.fa {
  padding: 2px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: green;
}

/* Twitter */
.fa-twitter {
  color: green;
}

.fa-linkedin {
  color: green;
}

.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
  color: green;
}
.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
  color: green;
}

.gg-shopping-cart {
  display: block;
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 21px;
  background: linear-gradient(to left, currentColor 12px, transparent 0)
      no-repeat -1px 6px/18px 2px,
    linear-gradient(to left, currentColor 12px, transparent 0) no-repeat 6px
      14px/11px 2px,
    linear-gradient(to left, currentColor 12px, transparent 0) no-repeat 0 2px/4px
      2px,
    radial-gradient(circle, currentColor 60%, transparent 40%) no-repeat 12px
      17px/4px 4px,
    radial-gradient(circle, currentColor 60%, transparent 40%) no-repeat 6px
      17px/4px 4px;
  color: green;
}
.gg-shopping-cart::after,
.gg-shopping-cart::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 2px;
  height: 15px;
  background: currentColor;
  top: 2px;
  left: 4px;
  transform: skew(12deg);
}
.gg-shopping-cart::after {
  height: 10px;
  top: 6px;
  left: 16px;
  transform: skew(-12deg);
}
